@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@import "driver.js/dist/driver.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 mb-6;
}

.header-card {
	@apply flex items-center justify-between mb-4;
}

.title-header-card {
	@apply text-xl font-bold leading-none text-gray-900 dark:text-white;
}

.link-header-card {
	@apply text-sm font-medium text-blue-600 hover:underline dark:text-blue-500;
}

.card-body {
	@apply flow-root;
}

.list {
	@apply divide-y divide-gray-200 dark:divide-gray-700;
}

.item-list {
	@apply py-2;
}

.row {
	@apply flex items-center;
}

.column-image {
	@apply relative flex-shrink-0;
	width: 3rem;
	height: 3rem;
}

.column-image img {
	@apply w-5 h-8 rounded-full;
}

.column-image i {
	@apply text-3xl;
}

i.secondary-image {
	@apply text-xl;
	top: -9px;
	right: 2px;
}

.fa-solid {
	font-size: 1.5rem;
}

.column-content {
	@apply flex-1 min-w-0 ms-3;
}

.column-content small {
	font-size: 0.75rem;
}

.no-data-text {
	@apply text-sm font-medium text-gray-600 dark:text-white;
}

.principal-text {
	@apply text-sm font-medium text-gray-600 truncate dark:text-white;
}

.secondary-text {
	@apply text-sm text-gray-500 truncate dark:text-gray-400;
}

.column-mount {
	@apply inline-flex items-center text-base font-semibold;
}

.accordion-header {
	@apply flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3;
}

.accordion-body {
	@apply p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}

.swal2-modal {
	background-color: #1f2937;
}
.swal2-title {
	color: #fff;
	font-weight: bold;
}
.swal2-html-container {
	color: #fff !important;
}
button.swal2-confirm {
	@apply inline-flex items-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
}
button.swal2-cancel {
	@apply inline-flex items-center px-4 py-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-500 rounded-md font-semibold text-xs text-gray-700 dark:text-gray-300 uppercase tracking-widest shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 disabled:opacity-25 transition ease-in-out duration-150;
}

.colored-toast.swal2-icon-success {
    background-color: #4caf50 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #e57373 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #ffb74d !important;
}

.colored-toast.swal2-icon-info {
    background-color: #29b6f6 !important;
}

.colored-toast.swal2-icon-question {
    background-color: #78909c !important;
}

.colored-toast .swal2-title {
	color: #1f2937;
}

.colored-toast .swal2-close {
	color: #1f2937;
}

.colored-toast .swal2-html-container {
	color: #1f2937;
}
